*{
    margin:0;
    padding:0;
}
#Form{
    width:400px;
    margin:auto;
    margin-top:100px;
    text-align: center;
}
form{
    text-align:left;
}
ul{
    gap:50px;
    display: flex;
    width:100%;
    height: 60px;
    background-color:#0D1A26;
    list-style:none;
    align-items: center;
}
li{
    width:70px;
}
a{
    color:white;
    text-decoration:none;
}
a:hover{
    font-size: larger;
}